### IntelliJ IDEA ###
out/
target/
!**/src/main/**/out/
!**/src/test/**/out/
*.iml
.idea/
.khmelov/
.src/main/java/com.javarush/ivanov
.src/main/java/com.javarush/khmelov
.src/main/java/com.javarush/gitignore
.src/main/java/com.javarush/pom.xml
.src/main/java/com.javarush/README.MD

### Mac OS ###
.DS_Store

### Demo result ###
/text/*.txt
